[
  {
    "scope": "https://login.microsoftonline.com:443",
    "method": "POST",
    "path": "/extSTS.srf",
    "body": "<s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\"\n      xmlns:a=\"http://www.w3.org/2005/08/addressing\"\n      xmlns:u=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\">\n  <s:Header>\n    <a:Action s:mustUnderstand=\"1\">http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Issue</a:Action>\n    <a:ReplyTo>\n      <a:Address>http://www.w3.org/2005/08/addressing/anonymous</a:Address>\n    </a:ReplyTo>\n    <a:To s:mustUnderstand=\"1\">https://login.microsoftonline.com/extSTS.srf</a:To>\n    <o:Security s:mustUnderstand=\"1\"\n       xmlns:o=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\">\n      <o:UsernameToken>\n        <o:Username>{{{invalid.username}}}</o:Username>\n        <o:Password>{{{invalid.password}}}</o:Password>\n      </o:UsernameToken>\n    </o:Security>\n  </s:Header>\n  <s:Body>\n    <t:RequestSecurityToken xmlns:t=\"http://schemas.xmlsoap.org/ws/2005/02/trust\">\n      <wsp:AppliesTo xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\">\n        <a:EndpointReference>\n          <a:Address>{{{invalid.url}}}</a:Address>\n        </a:EndpointReference>\n      </wsp:AppliesTo>\n      <t:KeyType>http://schemas.xmlsoap.org/ws/2005/05/identity/NoProofKey</t:KeyType>\n      <t:RequestType>http://schemas.xmlsoap.org/ws/2005/02/trust/Issue</t:RequestType>\n      <t:TokenType>urn:oasis:names:tc:SAML:1.0:assertion</t:TokenType>\n    </t:RequestSecurityToken>\n  </s:Body>\n</s:Envelope>",
    "status": 200,
    "response": "<?xml version=\"1.0\" encoding=\"utf-8\" ?><S:Envelope xmlns:S=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:wsse=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\" xmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\" xmlns:wst=\"http://schemas.xmlsoap.org/ws/2005/02/trust\" xmlns:psf=\"http://schemas.microsoft.com/Passport/SoapServices/SOAPFault\"><S:Body><S:Fault><S:Code><S:Value>S:Sender</S:Value><S:Subcode><S:Value>wst:FailedAuthentication</S:Value></S:Subcode></S:Code><S:Reason><S:Text xml:lang=\"en-US\">Authentication Failure</S:Text></S:Reason><S:Detail><psf:error><psf:value>0x80048821</psf:value><psf:internalerror><psf:code>0x80041034</psf:code><psf:text>The specified member name is either invalid or empty.&#x000D;&#x000A;</psf:text></psf:internalerror></psf:error></S:Detail></S:Fault></S:Body></S:Envelope>",
    "rawHeaders": [
      "no-cache",
      "no-cache",
      "Content-Type",
      "application/soap+xml; charset=utf-8",
      "-1",
      "Microsoft-IIS/8.5",
      "0",
      "max-age=31536000",
      "PPServer",
      "PPV: 30 H: CH1IDOALGN24 V: 0",
      "CP=\"DSP CUR OTPi IND OTRi ONL FIN\"",
      "orgid-request-id=9e16588a-90a7-4351-9de2-51d988802ff4; expires=Tue, 07-Feb-2017 23:55:36 GMT;domain=login.microsoftonline.com;path=/;HTTPOnly= ;version=1",
      "x-ms-gateway-slice=orgidprod; path=/; secure; HttpOnly",
      "stsservicecookie=orgidprod; path=/; secure; HttpOnly",
      "ASP.NET",
      "Tue, 07 Feb 2017 23:50:36 GMT",
      "close",
      "893"
    ]
  },
[...]
  {
    "scope": "https://tenant.sharepoint.com:443",
    "method": "POST",
    "path": "/_forms/default.aspx?wa=wsignin1.0",
    "body": "*",
    "status": 302,
    "response": "<html><head><title>Object moved</title></head><body>\r\n<h2>Object moved to <a href=\"/\">here</a>.</h2>\r\n</body></html>\r\n",
    "rawHeaders": [
      "no-cache, no-store",
      "no-cache",
      "118",
      "Content-Type",
      "text/html; charset=utf-8",
      "-1",
      "Location",
      "/",
      "Microsoft-IIS/8.5",
      "CP=\"ALL IND DSP COR ADM CONo CUR CUSo IVAo IVDo PSA PSD TAI TELo OUR SAMo CNT COM INT NAV ONL PHY PRE PUR UNI\"",
      "rtFa=xWP3fZmxX/LOa6m/Z/9hvnSfJz1O938UIoAjk/3ClS87Yb3taF70wAftapCg2ph3E5xod1HeS7WScj6l2kNCa3B2qNbLCy[...]
  {
    "scope": "https://tenant.sharepoint.com:443",
    "method": "POST",
    "path": "/_api/contextinfo",
    "body": "",
    "status": 200,
    "response": {
      "d": {
        "GetContextWebInformation": {
          "__metadata": {
            "type": "SP.ContextWebInformation"
          },
          "FormDigestTimeoutSeconds": 1800,
          "FormDigestValue": "0x12345,{{{currentDate}}}",
          "LibraryVersion": "16.0.6126.1208",
          "SiteFullUrl": "{{{valid.url}}}",
          "SupportedSchemaVersions": {
            "__metadata": {
              "type": "Collection(Edm.String)"
            },
            "results": [
              "14.0.0.0",
              "15.0.0.0"
            ]
          },
          "WebFullUrl": "{{{valid.url}}}"
        }
      }
    },
    "rawHeaders": [
      "private, max-age=0",
      "chunked",
      "Content-Type",
      "application/json;odata=verbose;charset=utf-8",
      "Mon, 23 Jan 2017 23:50:37 GMT",
      "Last-Modified",
      "Tue, 07 Feb 2017 23:50:37 GMT",
      "Microsoft-IIS/8.5",
      "CP=\"ALL IND DSP COR ADM CONo CUR CUSo IVAo IVDo PSA PSD TAI TELo OUR SAMo CNT COM INT NAV ONL PHY PRE PUR UNI\"",
      "rtFa=xWP3fZmxX/LOa6m/Z/9hvnSfJz1O938UIoAjk/3ClS87Yb3taF70w[...]
[...]
